<div class="p-5 bg-white shadow-lg rounded-lg">
    <h1 class="text-center text-3xl font-semibold text-gray-800 mb-6">Gerentes</h1>
  
    <div class="flex justify-center">
      <div class="w-full sm:w-2/3">
        <table class="w-full border-collapse text-gray-700">
          <thead>
            <tr class="text-left bg-gray-200 text-gray-600">
              <th class="px-4 py-2">Nome</th>
              <th class="px-4 py-2">CPF</th>
              <th class="px-4 py-2">Email</th>
              <th class="px-4 py-2">Telefone</th>
              <th class="px-4 py-2">
                <button
                  class="flex items-center bg-gray-600 text-white py-1 px-3 rounded-lg hover:bg-gray-700 transition"
                  (click)="mostrarNovo = true; mostrarEditar = false;"
                >
                  <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                    <path d="M12 4v16M4 12h16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  Novo
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gerente of gerentes" class="bg-white hover:bg-gray-50 transition">
              <td class="px-4 py-2 border-b">{{ gerente.nome }}</td>
              <td class="px-4 py-2 border-b">{{ gerente.cpf }}</td>
              <td class="px-4 py-2 border-b">{{ gerente.email }}</td>
              <td class="px-4 py-2 border-b">{{ gerente.telefone }}</td>
              <td class="px-4 py-2 border-b flex space-x-2">
                <button
                  class="bg-blue-600 text-white py-1 px-2 rounded-lg hover:bg-blue-700 transition"
                  (click)="selecionarEditar(gerente.cpf)"
                >
                  Editar
                </button>
                <button
                  class="bg-red-600 text-white py-1 px-2 rounded-lg hover:bg-red-700 transition"
                  (click)="remover(gerente.cpf, gerente.nome)"
                >
                  Remover
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <!-- Formulário para adicionar novos gerentes -->
    <div class="mt-10" *ngIf="mostrarNovo">
      <h2 class="text-center text-xl font-semibold text-gray-800">Novo Gerente</h2>
      <p class="text-center text-gray-600">Insira os dados do novo gerente.</p>
  
      <form class="w-full max-w-md mx-auto mt-6" (ngSubmit)="adicionarGerente()">
        <div class="space-y-4">
          <input
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-gray-500 transition"
            type="text"
            placeholder="Nome Completo"
            name="nomeGerente"
            required
            [(ngModel)]="novoGerente.nome"
          />
          <input
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-gray-500 transition"
            type="text"
            placeholder="000.000.000-00"
            name="cpfGerente"
            mask="000.000.000-00"
            required
            [(ngModel)]="novoGerente.cpf"
          />
          <input
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-gray-500 transition"
            type="email"
            placeholder="Digite o Email"
            name="emailGerente"
            required
            [(ngModel)]="novoGerente.email"
          />
          <input
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-gray-500 transition"
            type="text"
            placeholder="(00) 00000-0000"
            name="telefoneGerente"
            mask="(00) 00000-0000"
            required
            [(ngModel)]="novoGerente.telefone"
          />
        </div>
  
        <div class="mt-6 flex justify-between">
          <button
            class="bg-green-600 text-white py-2 px-4 rounded-lg hover:bg-green-700 transition"
            type="submit"
          >
            Salvar
          </button>
          <button
            class="bg-red-600 text-white py-2 px-4 rounded-lg hover:bg-red-700 transition"
            (click)="mostrarNovo = false;"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  
    <!-- Formulário para editar gerentes -->
    <div class="mt-10" *ngIf="mostrarEditar">
      <h2 class="text-center text-xl font-semibold text-gray-800">Editar Gerente</h2>
      <p class="text-center text-gray-600">Atualize as informações do gerente.</p>
  
      <form class="w-full max-w-md mx-auto mt-6" (ngSubmit)="editarGerente()">
        <div class="space-y-4">
          <input
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-gray-500 transition"
            type="text"
            placeholder="Nome Completo"
            value="{{gerenteSelecionado?.nome}}"
            name="nomeGerenteSelecionado"
            required
            [(ngModel)]="novoGerente.nome"
          />
          <input
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-gray-500 transition"
            type="text"
            placeholder="000.000.000-00"
            [value]="gerenteSelecionado?.cpf"
            name="cpfGerenteSelecionado"
            mask="000.000.000-00"
            required
            [(ngModel)]="novoGerente.cpf"
          />
          <input
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-gray-500 transition"
            type="email"
            placeholder="Digite o Email"
            [value]="gerenteSelecionado?.email"
            name="emailGerenteSelecionado"
            required
            [(ngModel)]="novoGerente.email"
          />
          <input
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-gray-500 transition"
            type="text"
            placeholder="(00) 00000-0000"
            [value]="gerenteSelecionado?.telefone"
            name="telefoneGerenteSelecionado"
            mask="(00) 00000-0000"
            required
            [(ngModel)]="novoGerente.telefone"
          />
        </div>
  
        <div class="mt-6 flex justify-between">
          <button
            class="bg-green-600 text-white py-2 px-4 rounded-lg hover:bg-green-700 transition"
            type="submit"
          >
            Atualizar
          </button>
          <button
            class="bg-red-600 text-white py-2 px-4 rounded-lg hover:bg-red-700 transition"
            (click)="mostrarEditar = false;"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
  