.container {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.saldo {
  text-align: center;
}

.saldo p {
  font-size: 18px;
}

.saldo button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saldo button:hover {
  background-color: #0056b3;
}
