<div class="flex flex-col h-screen bg-gray-100">
  <nav class="bg-white shadow">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between py-4">
        <div class="text-lg font-semibold">BANTADS</div>
        <div>
          <a routerLink="login"  class="bg-red-500 text-white px-4 py-2 rounded">Logout</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container mx-auto px-4 py-8 flex-grow">
    <div class="bg-white rounded-lg shadow-md p-6">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-semibold">Bem-vindo, {{ clientName }}</h2>
        <!--div class="text-lg" [ngClass]="{'text-red-500': balance < 0}">
          Saldo: {{ balance | currency:'BRL' }}
        </div-->
      </div>
      <div class="grid grid-cols-3 gap-4">
        <a href="#" class="bg-blue-500 text-white rounded-lg py-4 text-center hover:bg-blue-600">
          Depositar
        </a>
        <a href="#" class="bg-green-500 text-white rounded-lg py-4 text-center hover:bg-green-600">
          Sacar
        </a>
        <a href="#" class="bg-yellow-500 text-white rounded-lg py-4 text-center hover:bg-yellow-600">
          Transferir
        </a>
        <a href="#" class="bg-purple-500 text-white rounded-lg py-4 text-center hover:bg-purple-600">
          Extrato
        </a>
        <a href="/alterarPerfil" class="bg-gray-500 text-white rounded-lg py-4 text-center hover:bg-gray-600">
          Alterar Perfil
        </a>
      </div>
    </div>
  </div>
</div>