<div class="flex flex-col h-screen bg-gray-100">
  <div class="container mx-auto px-4 py-8 flex-grow">
    <div class="bg-white rounded-lg shadow-md p-6">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-semibold">Bem-vindo, {{ nome }}</h2> <!-- Exibe o nome do usuário logado -->
        <div class="text-lg" [ngClass]="{'text-red-500': saldo < 0}">
          Saldo: {{ saldo | currency:'BRL' }}
        </div>
      </div>
      <div class="grid grid-cols-3 gap-4">
        <a href="/deposito" class="bg-blue-500 text-white rounded-lg py-4 text-center hover:bg-blue-600 flex flex-col items-center">
          <i class="fas fa-wallet mb-2"></i> Depositar
        </a>
        <a href="/saque" class="bg-green-500 text-white rounded-lg py-4 text-center hover:bg-green-600 flex flex-col items-center">
          <i class="fas fa-hand-holding-usd mb-2"></i> Sacar
        </a>
        <a href="/transferencia" class="bg-yellow-500 text-white rounded-lg py-4 text-center hover:bg-yellow-600 flex flex-col items-center">
          <i class="fas fa-exchange-alt mb-2"></i> Transferir
        </a>
        <a href="/extrato" class="bg-purple-500 text-white rounded-lg py-4 text-center hover:bg-purple-600 flex flex-col items-center">
          <i class="fas fa-receipt mb-2"></i> Extrato
        </a>
        <a href="/alterarPerfil" class="bg-gray-500 text-white rounded-lg py-4 text-center hover:bg-gray-600 flex flex-col items-center">
          <i class="fas fa-user-edit mb-2"></i> Alterar Perfil
        </a>
      </div>
    </div>
  </div>
</div>