<div class="p-8 flex flex-col items-center h-full">
    <h2 class="text-2xl font-bold mb-4">Gerente - Consulta Todos Clientes</h2>

    <div class="flex mb-4">
        <input type="text" placeholder="Pesquisar por CPF ou Nome" [(ngModel)]="termoPesquisa" class="border-gray-400 border p-2 w-1/2 mr-2">
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" (click)="pesquisar()">Pesquisar</button>&nbsp;
        <button class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" (click)="resetarPesquisa()">Limpar</button>&nbsp;
        <button class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" [routerLink]="['/gerente']">Voltar</button>
    </div>       

    <div class="flex flex-col items-center flex-grow">
        <table class="table-auto bg-secondary border border-gray-400 rounded-lg shadow-lg" *ngIf="clientes.length > 0">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="px-4 py-2">Nome</th>
                    <th class="px-4 py-2">E-mail</th>
                    <th class="px-4 py-2">CPF</th>
                    <th class="px-4 py-2">Endereço</th>
                    <th class="px-4 py-2">Telefone</th>
                    <th class="px-4 py-2">Salário</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td class="border px-4 py-2 font-bold">{{ cliente.nome }}</td>
                    <td class="border px-4 py-2 font-bold">{{ cliente.email }}</td>
                    <td class="border px-4 py-2 font-bold">{{ cliente.cpf }}</td>
                    <td class="border px-4 py-2 font-bold">{{ cliente.endereco.tipo }} {{ cliente.endereco.logradouro }}, {{ cliente.endereco.numero }} {{ cliente.endereco.complemento }}, {{ cliente.endereco.cep }} {{ cliente.endereco.cidade }} - {{ cliente.endereco.estado }}</td>
                    <td class="border px-4 py-2 font-bold">{{ cliente.telefone }}</td>
                    <td class="border px-4 py-2 font-bold">{{ cliente.salario }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
