<main class="h-screen bg-zinc-50 flex items-center justify-center">
  
    <form action="" class="flex flex-col gap-4 w-full max-w-xs">
    <h1>Login</h1>
      <div class="flex flex-col gap-1">
        <label for="">Nome</label>
        <input 
          type="text" 
          name="nome" 
          class="border border-zinc-200 shadow-sm rounded h-10 px-3"
        >
      </div>
      
      <div class="flex flex-col gap-1">
        <label for="">Senha</label>
        <input 
          type="password" 
          name="password" 
          class="border border-zinc-200 shadow-sm rounded h-10 px-3">
      </div>
      
      <a routerLink="/clienteHome" class="bg-emerald-500 rounded font-semibold text-white h-10 hover:bg-emerald-600">Cadastrar</a>
    </form>
  </main>
