<div class="h-screen mx-auto flex flex-col items-center bg-slate-100">
  <div class="flex justify-end w-full mb-4">
    <a routerLink="/login">
      <svg class="w-10 h-10 text-gray-700 dark:text-zinc-800 hover:text-zinc-500 aria-hidden=true m-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
    </svg>
  </a>
  </div>
  <h1 class="text-3xl font-bold text-zinc-700 mb-4">Autocadastro</h1>
  <form (submit)="cadastrar()" class="w-full max-w-md">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">Nome:</label>
      <input type="text" class="border rounded-md px-4 py-2 w-full" [(ngModel)]="nome" placeholder="name" required>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
      <input 
          type="email" class="border rounded-md px-4 py-2 w-full" 
          [(ngModel)]="email" 
          placeholder="name@example.com"
          required
        >
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">CPF:</label>
      <input 
            type="text" class="border rounded-md px-4 py-2 w-full" 
            [(ngModel)]="cpf" 
            value={{cpf}}
            mask="000.000.000-00"  
            placeholder="000.000.000-00"
            required
            >
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">Salário:</label>
      <input 
          type="number" class="border rounded-md px-4 py-2 w-full" 
          [(ngModel)]="salario" 
          mask="000,00"   
          placeholder="2000,00"
          required
          >
    </div>
    
    <button type="submit" class="bg-emerald-500 hover:bg-emerald-600 text-white font-bold py-2 px-4 rounded w-full">
      Cadastrar
    </button>
  </form>
</div>